body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(17, 17, 17);
    min-height: 3000px;
    padding: 0;
}

/* верхняя панель */
.headbar { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 35.5px 35.5px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    z-index: 1000;
}

.logo img{ 
    position: relative;
    display: block;
    height: 10.5vh;
    width: auto;
}

.headbuttons { 
    position: relative;
    display: flex;
    gap: 35px;
    padding-top: 13px;
    padding-right: 7.5px;
    height: 5vh;
}

.language_switcher ul { 
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1.1vh;
    color: rgb(129, 129, 129);
    padding-top: 5px;
}

.lang_button { 
    color: rgb(129, 129, 129);
    text-decoration: none;
}

.lang_button.active { 
    color: rgb(255, 255, 255);
}


/* постер */
.cover { 
    position: relative;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.covermain {
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;
}

.headcover {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 3;
}


/* Лампы */
.lights1 {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 3;
    animation: 3s blinkfirst infinite;
}

.lights2 {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 3;
    animation: 3s blinksecond infinite;
}

.lights3 {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 3;
    animation: 3s blinkfirstfast infinite;
}

.lights4 {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 3;
    animation: 3s blinksecondfast infinite;
}

.lights5 {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 3;
    animation: 3s blinkfirst infinite;
}

@keyframes blinkfirst {
    0%, 35%, 100% {
        opacity: 0%;
    }
    10%  {
        opacity: 100%;
    }
}

@keyframes blinkfirstfast {
    0%, 50%, 87%, 100% {
        opacity: 0%;
    }
    67%  {
        opacity: 100%;
    }
}

@keyframes blinksecond {
    20%, 80%{
        opacity: 0%;    
    }
    90% {
        opacity: 100%;
    }
}

@keyframes blinksecondfast {
    0%, 40%, 75%, 100%{
        opacity: 0%;    
    }
    50% {
        opacity: 100%;
    }
}


/* Надпись ghost in the shell */
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -63%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title img {
    position: relative;
    width: 63.3%;
    margin-bottom: 26.5%;
}

.ghost {
    position: relative;
    left: -29.5%;
}

.inthe {
    position: relative;
    right: -59%;
}

.shell {
    position: relative;
    left: -14%
}

.minititle {
    position: absolute;
    top: 69.2%;
    left: 74.5%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 16%;
}

.minititle img {
    position: relative;
}

.worldof {
    position: relative;
    margin-bottom: 25%;
}

.shirow {
    position: relative;
    margin-bottom: 13%;
}


/* Дым */
.smogs {
    position: absolute;
    z-index: 4;            
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;          
    pointer-events: none;  

}

.smog1 {
    position: absolute;    
    bottom: -2%;          
    left: -29%;            
    width: 73%;            
    height: auto;          
    transform: rotate(42deg);   
    animation: 7s smoganim infinite;      
}

.smog2 {
    position: absolute;    
    bottom: 35%;          
    left: -10.5%;            
    width: 50%;            
    height: auto;                
    animation: 5s smoganim2 infinite;      
}

.smog3 {
    position: absolute;  
    top: 38%;
    left: 20%;
    width: 120%;            
    height: auto;           
    animation: 10s smoganim3 infinite;      
}

.smog4 {
    position: absolute;  
    top: 53%;
    left: 13%;
    width: 120%;            
    height: auto;             
    animation: 8s smoganim4 infinite;      
}

@keyframes smoganim {
    0%, 100% {
        opacity: 50%;
    }
    50%  {
        opacity: 100%;
    }
}

@keyframes smoganim2 {
    0%, 100% {
        opacity: 10%;
    }
    50%  {
        opacity: 35%;
    }
}

@keyframes smoganim3 {
    0%, 100% {
        opacity: 15%;
    }
    50%  {
        opacity: 35%;
    }
}

@keyframes smoganim4 {
    0%, 100% {
        opacity: 10%;
    }
    50%  {
        opacity: 35%;
    }
}


/* Новости */
.news {
    position: relative;
    width: 100%;
    padding: 92px 27px;
    overflow: hidden;
    height: 550px;
}

.caruselblock {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1270px;
}

.headofcarusel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-right: 90px;
    gap: 350px
}

.htitle {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: white;
}

.htitle h2 {
    font-family: "Syncopate",sans-serif;
    font-size: 24pt;
    font-weight: 500;
    letter-spacing: -0.1px;
}

.caruselbuttons {
    position: relative;
    display: flex;
    align-items: center;
    gap: 70px;
    flex-shrink: 0;
    color: white;
}

.caruselscrollbuttons ul {
    font-size: 0;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 45px;
}

.caruselscrollbuttons img {
    width: 50%;
    height: auto;
}

.caruselcategories {
    display: flex;
}

.caruselcategories img {
    width: 55%;
    transform: translate(0px, 4px);
}

.caruselall {
    text-transform: uppercase;
    font-size: 8pt;
    font-weight: 700;
    writing-mode: vertical-lr;
    transform: translate(-10px);
    letter-spacing: 2px;
}

.caruselfeed {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    overflow-x: visible;
}

.card {
    margin: 0;
    color: white;
    font-family: sans-serif;
    flex-shrink: 0;
    width: 270px;
}

.cardframe {
    position: relative;
    background-color: #666;
    padding: 1px;
    margin-bottom: 20px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 29px), calc(100% - 29px) 100%, 0 100%);
}

.cardframein {
    background-color: rgb(17, 17, 17);
    padding: 5px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 29px), calc(100% - 29px) 100%, 0 100%);
}

.cardframein img {
    display: block;
    width: 100%;
    height: 145.8px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 29px), calc(100% - 29px) 100%, 0 100%);
}

.squaretopright {
    border: none;
    border-top: 1px solid rgb(174, 174, 174);
    border-right: 1px solid rgb(174, 174, 174);
    position: absolute;
    width: 5px;
    height: 5px;
    z-index: 10;
    top: 0;
    right: 0;
}

.squaretopleft {
    border: none;
    border-top: 1px solid rgb(174, 174, 174);
    border-left: 1px solid rgb(174, 174, 174);
    position: absolute;
    width: 5px;
    height: 5px;
    z-index: 10;
    top: 0;
    left: 0;
}

.squarebottom {
    border: none;
    border-bottom: 1px solid rgb(174, 174, 174);
    border-left: 1px solid rgb(174, 174, 174);
    position: absolute;
    width: 5px;
    height: 5px;
    z-index: 10;
    bottom: 0;
    left: 0;
}

.cardtopcaption {
    display: flex;
    justify-content: space-between;
    color: #888;
    font-size: 9px;
    margin-bottom: 15px;
}

.cardcaption {
    font-size: 11px;
    font-weight: normal;
    line-height: 1.7;
    letter-spacing: 1px;
    margin: 0;
}

.progressbar {
    width: 1200px;
    height: 10px;
    padding: 100px 0px;
}

.progressone {
    stroke: #666;
    stroke-width: 2.4;
}

.progresstwo {
        stroke: white;
    stroke-width: 2.4;
}

/* ссылки */
.links {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.linktable {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1270px;
}

.linktable img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
}

/* группы 
.series {
    width: 100%;
    padding: 130px 27px;
    overflow: hidden;
}

.seriesrow {
    display: grid;
}

.oneofseries {
    display: flex;
}*/


/* Особое */
.features {
    width: 100%;
    padding: 0px 27px;
    overflow: hidden;
}


/* Галерея */
.gallery {
    width: 100%;
    padding: 0px 27px;
    overflow: hidden;
}

.videochoose {
    display: flex;
    height: 500px;
    gap: 40px;
}

.video {
    flex: 1;
    display: block;
}

.video iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
}

.choose {
    flex: 1;
    overflow: hidden;
    position: relative;
    padding-right: 70px;
}

.linechoose {
    width: 100%;
    height: 2px;
}

.chooseline {
    width: 600px;
    height: 2px;
    stroke: rgb(129, 129, 129);
    stroke-width: 1.5;
}

.choosetopcaption {
    display: flex;
    justify-content: space-between;
    color: #888;
    font-size: 9px;
}

.choosecaption {
    font-size: 11px;
    font-weight: normal;
    line-height: 1.7;
    letter-spacing: 1px;
    margin: 10px 0px 0px 50px;
    color: white;
}

.lineblack {
    position: absolute;
    width: 40px;
    height: 100%;
    top: 0;
    left: 35px;
    z-index: 10;
}

.lineblack svg {
    width: 100%;
    height: 100%;
    display: block;
}

.blackline {
    stroke: rgb(17, 17, 17);
    stroke-width: 25;
}